{% extends 'base.html' %} {% load static %} {% block content %}

<!-- about section -->

<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2 >O HAC</h2>
          </div>
          <p>
            Фирма осуществляет юридические услуги на территории города Бишкек,
            Кыргызская Республика. Основными направлениями Фирмы являются
            судебное представительство в судебных органах, корпоративное
            обслуживание предпринимателей, налоговое консультирование и
            сопровождение процедуры лицензирования и
            регистрация/перерегистрация/ликвидация юридических лиц и
            филиалов/представительств. Следует отметить, что наша Фирма состоит
            в консалтинговом консорциуме с бухгалтерской компанией, что
            обеспечивает всестороннее и комплексное обслуживание
            предпринимателей по вопросам юриспруденции и
            налогового/бухгалтерского учета. ​ Мы убеждены в том, что
            партнерские отношения с нашим клиентами, основанные на взаимном
            доверии и поддержке, обеспечивают возможности для достижения
            значительных результатов в бизнесе.
          </p>
          <p>С уважением, Партнер Фирмы Султан Калыбаев</p>
          <a href=""> Get Started </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="{% static 'images/about-img.png'%}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->
{% endblock %}
